body {
    font-family: 'Josefin Sans', sans-serif;
}

.bg_image {
    background: linear-gradient(135deg, white, #fff5f5);
}

aside {
    background-image: url('images/hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 800px) {
    .bg_image {
        background: url('images/bg-pattern-desktop.svg');
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: cover;
    }
    aside {
        background-image: url('images/hero-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}